'.feature':
    'Feature':
        'prefix': "Feature"
        'body': "Feature: "
    'Background':
        'prefix': "Background"
        'body': "Background: "
    'Scenario':
        'prefix': "Scenario"
        'body': "Scenario: "
    'Scenario Outline':
        'prefix': "Scenario Outline"
        'body': "Scenario Outline: "
    'Examples':
        'prefix': "Example"
        'body': "Examples: "
    'Given':
        'prefix': "Given"
        'body': "Given "
    'When':
        'prefix': "When"
        'body': "When "
    'Then':
        'prefix': "Then"
        'body': "Then "
    'And':
        'prefix': "And"
        'body': "And "
    'But':
        'prefix': "But"
        'body': "But "
    'given-001':
        'prefix': "user has [...] page opened"
        'body': "user has [${1:page}] page opened"
    'when-001':
        'prefix': "user enters '...' to the [...]"
        'body': "user enters '${1:value}' to the [${2:element}]"
    'when-002':
        'prefix': "user enters date '...' to the [...]"
        'body': "user enters date '${1:value}' to the [${2:element}]"
    'when-003':
        'prefix': "user clears value on the [...]"
        'body': "user clears value on the [${1:element}]"
    'when-004':
        'prefix': "user clicks the [...]"
        'body': "user clicks the [${1:element}]"
    'when-005':
        'prefix': "user selects the [...]"
        'body': "user selects the [${1:element}]"
    'when-006':
        'prefix': "user selects '...' on the [...]"
        'body': "user selects '${1:value}' on the [${2:element}]"
    'when-007':
        'prefix': "user checks the [...]"
        'body': "user checks the [${1:element}]"
    'when-008':
        'prefix': "user unchecks the [...]"
        'body': "user unchecks the [${1:element}]"
    'when-009':
        'prefix': "user moves mouse over the [...]"
        'body': "user moves mouse over the [${1:element}]"
    'when-010':
        'prefix': "user uploads file '...' to the [...]"
        'body': "user uploads file '${1:file}' to the [${2:element}]"
    'when-011':
        'prefix': "user enters '...' to the popup"
        'body': "user enters '${1:value}' to the popup"
    'when-012':
        'prefix': "user accept the popup"
        'body': "user accept the popup"
    'when-013':
        'prefix': "user cancel the popup"
        'body': "user cancel the popup"
    'then-001':
        'prefix': "the browser shows [...] page"
        'body': "the browser shows [${1:page}] page"
    'then-002':
        'prefix': "the page url is '...'"
        'body': "the page url is '${1:url}'"
    'then-003':
        'prefix': "the page url contains '...'"
        'body': "the page url contains '${1:url}'"
    'then-004':
        'prefix': "the [...] value is '...'"
        'body': "the [${1:element}] value is '${2:value}'"
    'then-005':
        'prefix': "the [...] value is not '...'"
        'body': "the [${1:element}] value is not '${2:value}'"
    'then-006':
        'prefix': "the [...] value contains '...'"
        'body': "the [${1:element}] value contains '${2:value}'"
    'then-007':
        'prefix': "the [...] value is more than '...'"
        'body': "the [${1:element}] value is more than '${2:value}'"
    'then-008':
        'prefix': "the [...] value is more than or equal '...'"
        'body': "the [${1:element}] value is more than or equal '${2:value}'"
    'then-009':
        'prefix': "the [...] value is less than '...'"
        'body': "the [${1:element}] value is less than '${2:value}'"
    'then-010':
        'prefix': "the [...] value is less than or equal '...'"
        'body': "the [${1:element}] value is less than or equal '${2:value}'"
    'then-011':
        'prefix': "the [...] value is between '...' and '...'"
        'body': "the [${1:element}] value is between '${2:value}' and '${3:value}'"
    'then-012':
        'prefix': "the [...] value is empty"
        'body': "the [${1:element}] value is empty"
    'then-013':
        'prefix': "the [...] value is not empty"
        'body': "the [${1:element}] value is not empty"
    'then-014':
        'prefix': "the [...] exists"
        'body': "the [${1:element}] exists"
    'then-015':
        'prefix': "the [...] does not exist"
        'body': "the [${1:element}] does not exist"
    'then-016':
        'prefix': "the [...] is visible"
        'body': "the [${1:element}] is visible"
    'then-017':
        'prefix': "the [...] is invisible"
        'body': "the [${1:element}] is invisible"
    'then-018':
        'prefix': "the [...] is selected"
        'body': "the [${1:element}] is selected"
    'then-019':
        'prefix': "the [...] is not selected"
        'body': "the [${1:element}] is not selected"
    'then-020':
        'prefix': "the [...] is checked"
        'body': "the [${1:element}] is checked"
    'then-021':
        'prefix': "the [...] is unchecked"
        'body': "the [${1:element}] is unchecked"
    'then-022':
        'prefix': "the popup message shows '...'"
        'body': "the popup message shows '${1:value}'"
    'then-023':
        'prefix': "the [...] tooltip text is '...'"
        'body': "the [${1:element}] tooltip text is '${2:value}'"
    'then-024':
        'prefix': "the page has '...' items of [...]"
        'body': "the page has '${1:amount}' items of [${2:element}]"
    'sp-001':
        'prefix': "accept fail"
        'body': "accept fail"
