"fileTypes": [
    'feature'
]
"name": 'Project-Cylon Feature'
"patterns": [
    {
        "match": '\\s*(Scenario\\:|Feature\\:|Scenario Outline\\:|Background\\:|Examples\\:)'
        "name": 'keyword.feature'
    }
    {
        "match": '\\s*(Given|Then|When|And|But)'
        "name": 'support.class.feature'
    }
    {
        "match": '\\s*(@[A-Za-z0-9_\\-]+)'
        "name": 'entity.name.function.decorator.feature'
    }
    {
        "match": '#(.*)$'
        "name": 'comment.line.feature'
    }
    {
        "match": '(\\<\\w+\\>)'
        "name": 'constant.character.escape.feature'
    }
    {
        "match": "(\\'[^']*\\')"
        "name": 'string.single.qoute.feature'
    }
    {
        "match": '(\\".*\\")'
        "name": 'string.double.qoute.feature'
    }
    {
        "match": '(\\[[^]]*\\])'
        "name": 'constant.numeric.feature'
    }
]
"scopeName": 'source.feature'
